name: assignment-test
on:
  push:
    tags-ignore:
      - '*'
    branches:
      - '*'

jobs:
  full-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Run full test
        timeout-minutes: 15
        run: |
          docker run --rm \
            -v ${GITHUB_WORKSPACE}:${GITHUB_WORKSPACE} \
            cuaesd/aesd-autotest:assignment6-yocto \
            --workdir=${GITHUB_WORKSPACE} \
            ./full-test.sh
